@import url('https://fonts.googleapis.com/css?family=Lato:100i,100,300,300i,400,700,900|Open+Sans:400,600,700');

.width {
    width: 970px;
    margin: 0 auto;
}

.font-lato {
    font-family: 'Lato', sans-serif;
}

.font-opensans {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.header__background {
    height: 701px;
    background: url("../img/header-min.png") no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    position: relative;
    z-index: 1;
}

.header__background:before {
    content: "";
    background-color: #000;
    opacity: .1;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.header__min-header {
    height: 52px;
    background-color: rgba(16, 22, 54, 0.2);
}

.header__min-header .width .header__logo {
    vertical-align: bottom;
    display: inline-block;
}

.header__min-header .width .indent-logo {
    margin: 21px 33px 0 0;
}

.header__min-header .width .header__logo a {
    display: inline-block;
    color: white;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: .8px;
}

.header__min-header .width .header__logo span {
    color: #4c76ff;
}

.header__min-header .width .header__text {
    display: inline-block;
    border-left: 1px solid #32b0ee;
    padding-left: 14px;
}

.header__min-header .width .header__text p {
    color: white;
    font-size: 14px;
    font-weight: 100;
    font-style: italic;
    letter-spacing: .9px;
}

.header__min-header .width .indent-text {
    vertical-align: bottom;
    margin-right: 403px;
}

.header__min-header .width > .header__menu,
.header__min-header .width .header__menu li {
    display: inline-block;
}

.header__min-header .width .indent-menu {
    margin-bottom: 5px;
}

.header__min-header .width .header__menu li a {
    color: white;
    font-size: 12px;
    font-weight: 400;
    padding-top: 21px;
}

.header__min-header .width .header__menu li {
    margin-right: 29px;
}

.header__min-header .width .header__menu li:last-child {
    margin-right: 0;
}

.header__min-header .width .header__menu li a:hover {
    border-top: 1px solid #4c76ff;
}

.header__title {
    text-align: center;
    margin-top: 235px;
}

.header__title > p:first-child {
    color: white;
    font-weight: 900;
    font-size: 61px;
    margin-bottom: 10px;
}

.header__title p span {
    color: #4c76ff;
}

.header__title h1 {
    color: white;
    font-weight: 100;
    font-size: 48px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}

.header__title h1 span {
    color: #4c76ff;
}

.header__title p:last-child {
    color: white;
    width: auto;
    font-weight: 300;
    font-size: 18px;
}

.header__title p:last-child::before,
.header__title p:last-child::after {
    content: "";
    display: inline-block;
    width: 28px;
    vertical-align: middle;
    border-bottom: 1px solid #4c76ff;
    margin: 0 39px 0 39px;
}

.header__social {
    text-align: center;
    margin-top: 112px;
}

.header__social a {
    color: #8d9092;
    font-size: 18px;
    margin-right: 12px;
}

.header__social a:last-child {
    margin-right: 0;
}

.header__social a:hover {
    color: white;
}

.section__color {
    background: #eee;
}

.indent-top {
    padding-top: 74px;
}

.indent-bottom {
    padding-bottom: 112px;
}

section h2 {
    text-align: center;
    color: #4c76ff;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section > p {
    text-align: center;
    margin-bottom: 77px;
}

section > p .fa-heart {
    color: #bfc0bf;
    font-size: 16px;
}

section > p::before,
section > p::after {
    content: "";
    display: inline-block;
    width: 90px;
    vertical-align: middle;
    border-bottom: 1px solid #bfc0bf;
    margin: 0 15px 0 15px;
}

section .section__icon,
section .section__text {
     display: inline-block;
}

section .section__icon {
    vertical-align: top;
    border: 1px solid #4c76ff;
    border-radius: 100px;
    padding: 8px;
    margin-right: 8px;
}

section .section__icon i {
    color: #4c76ff;
    font-size: 16px;
}

section .section__text {
    margin-right: 48px;
}

section .section__text:last-child {
    margin-right: 0;
}

section .section__text h3,
section .section__text p {
    font-family: 'Open Sans', sans-serif;
    color: #061f33;
}

section .section__text h3 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 17px;
}

section .section__text p {
    width: 238px;
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
}

.background {
    background: #fff;
}

.indent-top-two {
    padding-top: 78px;
}

.indent-bottom-two {
    padding-bottom: 74px;
}

section h4 {
    width: 782px;
    text-align: center;
    margin: 0 auto;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    color: #282528;
}

.indent-bottom-h4 {
    margin-bottom: 63px;
}

.section__bloc {
    display: inline-block;
    vertical-align: top;
}

h4 + .section__bloc,
.section__bloc:last-child {
    margin-top: 47px;
}

.section__bloc {
    margin-right: 32px;
}

.section__bloc:last-child {
    margin-right: 0;
}

.section__icon-text {
    padding: 10px 0 10px 0;
    margin-bottom: 56px;
}

.section__icon-text:hover {
    background: rgba(247, 227, 39, 0.1);
}

.section__icon-text .section__icon-two {
    display: inline-block;
    margin: 3px 32px 0 0;
    vertical-align: top;
}

.section__icon-text .section__icon-two > i {
    color: #282528;
    font-size: 32px;
}

.section__icon-text .section__text-two {
    display: inline-block;
    width: 205px;
}

.section__icon-text .section__text-two span {
    color: #282528;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
}

.section__icon-text .section__text-two p {
    color: #282528;
    font-size: 10px;
    font-weight: 400;
    line-height: 22px;
}

.indent-bottom-footer {
    padding-bottom: 63px;
}

footer h2 {
    text-align: center;
    color: #4c76ff;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 20px;
}

footer > p {
    text-align: center;
    margin-bottom: 41px;
    position: relative;
    overflow: hidden;
}

footer > p .fa-heart {
    color: #bfc0bf;
    font-size: 16px;
}

footer > p::after,
footer > p::before {
    content: '';
    position: absolute;
    border-bottom: 1px solid #bfc0bf;
    top: 50%;
    width: 90px;
    transform: translateY(-100%);
}

footer > p::after {
    left: calc(100% - 460px);
}

footer > p::before {
    right: calc(100% - 460px);
}

footer h4 {
    width: 709px;
    text-align: center;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    color: rgba(6, 32, 51, 0.9);
}

footer .footer__button {
    margin-top: 63px;
    text-align: center;
}

footer .footer__button .button__a {
    display: inline-block;
    padding: 15px 7px 15px 7px;
}

footer .footer__button .button__a:first-child {
    padding-left: 0;
}

footer .footer__button .button__a:last-child {
    padding-right: 0;
}

footer .footer__button .button__a a {
    font-size: 14px;
    font-weight: 900;
    color: rgba(6, 32, 51, 0.9);
    padding: 6px 18px 6px 18px;
    border-radius: 5px;
}

footer .footer__button .button__a a:hover {
    transition-duration: 1s;
    background: #4c76ff;
}
